/* laypot.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

/* common */
body{font-size: 14px;font-family: 'Noto Sans','Noto Sans KR',Helvetica,sans-serif;color: #333;}
a{text-decoration: none;color: #333;}
a:hover{text-decoration: none;color: #333;}

/* layout.css */
#wrap{width: 100%;}
    #header{z-index: 40;position: relative;width: 100%;height: 70px;}
        .header_wrap{
            position: absolute;left: 0;top: 0;width: 100%;height: 70px;
            background-color: #f3f3f3;}
            .header_inner{
                position: relative;width: 100%;height: 70px;
                background-color: #fff;
                /* border-bottom: 1px solid #ccc; */}
    .main_visual{z-index: 30;position: relative;width: 100%;}
    #container{width: 100%;}
            .spot{width: 100%;height: 321px;}
            .spot_inner{
                position: relative;height: 320px;box-sizing: border-box;
                width: 1140px;margin: 0 auto;padding-top: 100px;}
        #content{width: 1142px;margin: 0 auto;padding: 100px 0 160px;}
        .content1{width: 1145px;margin: 0 auto 80px;padding: 90px 0 120px;/* background-color: thistle; */}
        .content2{width: 1142px;margin: 0 auto 128px;padding: 60px 95px 61px;background-color: #fff;}
        .content2:after{content: "";display: block;clear: both;}
        .content3{width: 1142px;margin: 0 auto 122px;/* background-color: skyblue; */}
        .sitemap{/* z-index: 30;position: relative; */width: 100%;background-color: #f3f3f3;}
    #footer{position: relative;width: 100%;height: 185px;background-color: #474a4f;}
    .footer_inner{position: relative;;width: 1140px;margin: 0 auto;padding: 20px 0;}