@import url(reset.css);

/* layout */

/* header */

/* container */
/* spot */
.spot{
    background: url(../images/faq_visual_img.jpg) no-repeat 50% 0;
    color: #fff;
    width: 100%;min-width: 1140px;max-width: 1920px;
    height: 320px;
}
.spot_inner {width: 1140px;margin: 0 auto 120px;padding: 95px 0 0;}
.spot_inner>h2{font-size: 46px;margin-bottom: 15px;}
.spot_inner>p{font-size: 16px;color: #eee;}
.spot_inner>p.path{padding-top: 50px;text-align: right;font-size: 14px;color: #ccc;}

/* content */
#content {width: 1140px;margin: 0 auto 120px;padding: 100px 0 160px;}
#content h3{font-size: 36px;color: #000;font-weight: bold;line-height: 1;/* 가로로 나란히 나열 */}
#content h3:after{
    content: "";display: block;
    width: 40px;height: 3px;
    background: #0079cc;
    margin: 20px 0 30px;
}

/* faq */
div.faq{
    display: flex;justify-content: space-between;/* 글씨가 양쪽끝에 오게하려고 */
    width: 100%;padding: 20px 30px;box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 60px;
}
div.faq>p{font-size: 16px;line-height: 45px;}
div.faq>a{
    display: block;width: 160px;height: 45px;
    background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 85% 50%;
    color: #fff;font-size: 16px;
    text-align: center;line-height: 45px;
}

/* step1 */
.step1>ul{display: flex;width: 100%;margin-bottom: 120px;}
.step1>ul>li{flex: 1;/* 같은 크기로 */text-align: center;}
.step1>ul>li>a{
    display: block;/* a가 인라인 요소라서 */
    width: 190px;height: 170px;
    padding-top: 120px;
    border: 1px solid #ccc;box-sizing: border-box;
    border-left: none;
    font-size: 17px;
}
.step1>ul>li:first-child>a{border: 1px solid #ccc;background: url(../images/ico_inquiry_01.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(2)>a{background: url(../images/ico_inquiry_02.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(3)>a{background: url(../images/ico_inquiry_03.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(4)>a{background: url(../images/ico_inquiry_04.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(5)>a{background: url(../images/ico_inquiry_05.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(6)>a{background: url(../images/ico_inquiry_06.png) no-repeat 50% 35%;}

.step1>ul>li:first-child.on>a{
    background: #043285 url(../images/ico_inquiry_on_01.png) no-repeat 50% 35%;
    color: #fff;
}

/* step2 */
.step2>p{font-size: 16px;letter-spacing: -0.5px;margin-bottom: 20px;}
.step2>p.essential{text-align: right;margin-bottom: 10px;}

.step2>form>fieldset>dl{
    border-top: 1px solid #333;padding: 50px 80px;
    background-color: #f3f3f3;
}

.step2>form dt{font-size: 20px;font-weight: 600;}
.step2>form dt>label>span{
    padding-right: 5px;
    color: #1a73b7;font-size: 14px;
}

.step2>form dl input,.step2>form select{
    width: 100%;height: 45px;
    border: 1px solid #ccc;
    margin: 20px 0;
    box-sizing: border-box;
    text-indent: 10px;
}
.step2>form textarea{
    width: 100%;height: 260px;
    padding: 18px;
    border: 1px solid #ccc;
    margin: 20px 0;
    box-sizing: border-box;
}

.step2>form dd.product{display: flex;justify-content: space-between;}
.step2>form dd.product select{width: 310px;}

.step2>form dd.separate{border-bottom: 1px solid #ccc;margin-bottom: 20px;}
.step2>form dd.separate:first-child{float: left;width: 480px;}
.step2>form dd.separate:last-child{float: right;width: 490px;}

.step2>form dd.user{display: flex;justify-content: space-between;}
.step2>form dd.user>dl input{width: 478px;}

.step2>form dd.phone input{margin-bottom: 10px;}
.step2>form dd.phone input:first-of-type{width: 310px;margin-right: 14px;}
.step2>form dd.phone input:last-of-type{width: 620px;margin-left: 14px;}
.step2>form dd.phone p{padding-bottom: 10px;font-size: 16px;color: #333;}

.step2>form dd.attach input[type="text"]{
    width: 794px;margin-right: 20px;background: #fff;
}
.step2>form dd.attach label{
    display: inline-block;width: 160px;height: 45px;
    background: #333;color: #fff;
    text-align: center;line-height: 45px;
}
.step2>form dd.attach input[type="file"]{display: none;}

/* 개인정보 동의 */
.step2>form h4{font-size: 30px;margin: 80px 0 20px;}
.step2>form div.agree{
    border: 1px solid #ccc;
    padding: 50px;margin-bottom: 90px;
    font-size: 16px;color: #666;
}
.step2>form div.agree>h5{color: #0079cc;margin-bottom: 10px;}
.step2>form div.agree>p{margin-bottom: 30px;}
.step2>form div.agree>ul>li{
    background: url(../images/bg_list_dot.gif) no-repeat 0 50%;
    text-indent: 10px;line-height: 1.8;
}
.step2>form div.agree>ul>li>span{color: #0079cc;font-size: 20px;text-decoration: underline;}
.step2>form div.agree p:nth-last-of-type(1){text-align: right;}
.step2>form div.agree p:nth-last-of-type(2){display: flex;justify-content: space-between;}

/* 접수하기 */
.step2>form input[type="submit"]{
    display: block;width: 160px;height: 45px;
    margin: 0 auto;
    border: none;
    background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 75% 50%;
    color: #fff;text-align: center;
}

/* footer */