@import url(reset.css);
/* sub2.css */

/* layout */

/* header */

/* container */
/* spot */
.spot{
    background: url(../images/careers_visual_img.jpg) no-repeat 50% 0;
    color: #fff;
}
.spot_inner>h2{font-size: 46px;margin-bottom: 15px;}
.spot_inner>p{font-size: 16px;color: #eee;}
.spot_inner>p.path{
    position: absolute;bottom: 20px;right: 0;text-align: right;
    font-size: 14px;color: #ccc;
}

/* content */
p.info_txt{text-align: right;margin-bottom: 10px;}

table.job{width: 100%;margin-bottom: 60px;}
.job th,.job td{height: 60px;border: 1px solid #ccc;text-align: center;}

.job thead th{
    height: 60px;
    border: 1px solid #ccc;
    border-top: 1px solid #000;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 18px;
}
.job thead th:first-of-type{width: 120px;border-left: none;}
.job thead th:nth-of-type(2){width: 640px;}
.job thead th:last-of-type{width: 380px;border-right: none;}

.job tbody td{border-top: none;font-size: 16px;}
.job tbody td:first-of-type{border-left: none;}
.job tbody td:last-of-type{border-right: none;}
.job tbody tr:last-of-type td{border-bottom: 1px solid #000;}

/* faq */
div.faq{
    display: flex;justify-content: space-between;/* 글씨가 양쪽끝에 오게하려고 */
    width: 100%;padding: 20px 30px;box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 60px;
}
div.faq>p{font-size: 16px;line-height: 45px;}
div.faq>a{
    display: block;width: 160px;height: 45px;
    background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 85% 50%;
    color: #fff;font-size: 16px;
    text-align: center;line-height: 45px;
}

/* footer */